@charset "UTF-8";
body {
    font-family: Arial;
}
p {
    text-align: justify;
    text-indent: 20px;
}
article h1 {
    font-size: 15pt;
    color: #ffffff;
    background-color: rgba(0,0,0,.3);
    padding: 5px; /* interno do objeto */      /* Para classes usa-se o ponto */
    margin: 0px; /* externo do objeto */       /* Para id usa-se # */
}
article h2 {
    font-size: 13pt;
    color: #888888;
    margin: 0px;
}

article {
    margin-bottom: 800px;
}

img.img-dir {
    display: block;
    float: right;
    margin-left: 5px;
}