@charset "UTF-8";
body {
    font-family: Arial;
    overflow: hidden; /* Problema em esconder barra de scroll resolvido colocando overflow: hidden; no body do style css do html google-glass */
}
p {
    text-align: justify;
    text-indent: 20px;
}
article h1 {
    font-size: 15pt;
    color: #ffffff; 
    background-color: rgba(0,0,0,.3);
    padding: 5px; /* interno do objeto */      /* Para class usa-se o ponto */
    margin: 0px; /* externo do objeto */       /* Para id usa-se # */
}
article h2 {
    font-size: 13pt;
    color: #888888;
    margin: 0px;
}

article {
    margin-bottom: 800px;
}

img.img-dir {
    display: block;
    float: right;
    margin-left: 5px;
}